{% extends 'base.html' %}
{% block title %}Create New Post{% endblock %}

{% block content %}
<h2>Create New Post</h2>
<form method="post" class="mt-4">
    {% csrf_token %}
    <div class="mb-3">
        <input type="text" name="title" class="form-control" placeholder="Title" required>
    </div>
    <div class="mb-3">
        <input type="text" name="slug" class="form-control" placeholder="Slug" required>
    </div>
    <div class="mb-3">
        <textarea name="content" rows="8" class="form-control" placeholder="Content" required></textarea>
    </div>
    <button type="submit" class="btn btn-success">Publish</button>
</form>
{% endblock %}
